.footer-section{
    width: 100%;
    background-color: #0C111D;
    padding: 64px 0px 48px 0px;
}

.footer-section .footer-logo{
    /* width: 32px;
    height: 32px; */
}

.footer-section .footer-border{
    border: 1px solid #1F242F;
    opacity: 1;
}

.footer-section .footer-left-content{
  margin-top: 32px;
    color: #94969C;
    font-family:"Inter";
font-weight: 400;
font-size:16px;


}


.footer-section .head{
   margin-left: 32px;
   color: #94969C;
    margin-top: 12px;
  color: #94969C;
  font-family:"Inter";
font-weight: 600;
font-size: 14px;
 
}
.footer-section li{
  list-style-type: none; 
  margin-top: 12px;
  color: #94969C;
  font-family:"Inter";
font-weight: 600;
font-size: 16px;

}
.footer-section .head{
    margin-top: 8px;
}

.footer-section .footer-section-content{
    padding-top: 10px;
}

.footer-section .footer-boxes{
     padding-top: 64px;
}
.footer-section .border{
    border:1px solid #1F242F;
}
.footer-section .footer-icons-left{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.footer-section .footer-icons-left h6{
    color: #94969C;
    font-family: "Inter";
font-weight: 400;
font-size:16px;
}
.footer-section .footer-icons-right{
    display: flex;
    gap:24px;
}
.footer-section .footer-icons-right img{
    width: 24px;
}