.home-ai {
  color: #cecfd2;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #333741;
  border-radius: 10px;
  border: 1px solid #333741;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0);
  padding: 4px 10px 4px 4px;
  background-color: #0c111d;
}

.home-ai span {
  margin-right: 2px;
  color: #d6bbfb;
  padding: var(--spacing-xxs, 2px) 10px var(--spacing-xxs, 2px)
    var(--spacing-md, 8px);
  border-radius: var(--radius-full, 9999px);
  border: 1px solid
    var(--Component-colors-Utility-Brand-utility-brand-200, #53389e);
  background: var(--Component-colors-Utility-Brand-utility-brand-50, #2c1c5f);
}

.home-ai .ai img{
  
  margin-right: 2px;
}

.home-main {
  width: 100%;
  background-image: url("../../../images/bg/home_pattern.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 120% -90px; /* X | Y */
  z-index: 2000;
  margin-bottom: 44px;
}

.home-bg-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -80px;
  z-index: 1;
}

.home-main .home-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(80px + 20px);
}

.home-head {
  color: var(--colors-text-text-primary-900, #f5f5f6);
  text-align: center;

  /* Display xl/Semibold */
  font-family: var(--Font-family-font-family-display, Inter);
  font-size: var(--Font-size-display-xl, 60px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-display-xl, 72px);
  /* 120% */
  letter-spacing: -1.2px;
  width: 80%;
  margin: 16px auto 24px auto;
}

.home-subHead {
  width: 60%;
  margin: auto;
  color: var(--colors-text-text-tertiary-600, #94969c);
  text-align: center;

  /* Text xl/Regular */
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-xl, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-height-text-xl, 30px); /* 150% */
}

.home-btns {
  text-align: center;
  width: 40%;
  margin: 48px auto 24px auto;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.demo-play {
  padding: 12px 18px;
  border-radius: 10px;
  gap: 10px;
  border-radius: var(--radius-lg, 10px);
  border: 1px solid
    var(
      --Component-colors-Components-Buttons-Secondary-button-secondary-border,
      #333741
    );
  background: var(
    --Component-colors-Components-Buttons-Secondary-button-secondary-bg,
    #161b26
  );
  color: var(
    --Component-colors-Components-Buttons-Secondary-button-secondary-fg,
    #cecfd2
  );

  /* Text lg/Semibold */
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-lg, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-text-lg, 28px); /* 155.556% */
  /* Shadows/shadow-xs-skeuomorphic */
  box-shadow: 0 0 0 1px
      var(
        --Colors-Effects-Shadows-shadow-skeumorphic-inner-border,
        rgba(12, 17, 29, 0.18)
      )
      inset,
    0 -2px 0 0 var(
        --Colors-Effects-Shadows-shadow-skeumorphic-inner,
        rgba(12, 17, 29, 0.05)
      ) inset,
    0 1px 2px 0 var(--Colors-Effects-Shadows-shadow-xs, rgba(255, 255, 255, 0));
}

.demo-play img {
  margin-right: 10px;
}

.start-btn {
  border-radius: var(--radius-lg, 10px);
  border: none;
  background: linear-gradient(90deg, #eb2f96 1.34%, #722ed1 100%),
    var(
      --Component-colors-Components-Buttons-Primary-button-primary-bg,
      #7f56d9
    );

  /* Shadows/shadow-xs-skeuomorphic */
  box-shadow: 0 0 0 1px
      var(
        --Colors-Effects-Shadows-shadow-skeumorphic-inner-border,
        rgba(12, 17, 29, 0.18)
      )
      inset,
    0 -2px 0 0 var(
        --Colors-Effects-Shadows-shadow-skeumorphic-inner,
        rgba(12, 17, 29, 0.05)
      ) inset,
    0 1px 2px 0 var(--Colors-Effects-Shadows-shadow-xs, rgba(255, 255, 255, 0));
  padding: var(--spacing-xl, 16px) 22px;
  color: var(
    --Component-colors-Components-Buttons-Primary-button-primary-fg,
    #fff
  );

  /* Text lg/Semibold */
  font-family: var(--Font-family-font-family-body, Inter);
  font-size: var(--Font-size-text-lg, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-text-lg, 28px); /* 155.556% */
}

.video-box {
  width: 80%;
  margin: auto;
  height: 600px;
  position: relative;
}

.intelli-video {
  width: 100%;
  border-radius: 20px;
  border-radius: 20px 20px 0 0;
  border-top: 2px solid #94969c;

  border-right: 2px solid #94969c;

  border-left: 2px solid #94969c;
}

.video-box button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7f56d9; /* purple */
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.video-box button:hover {
  background: rgb(127, 86, 217, 0.9);
}

.video-box button svg {
  width: 40px;
  height: 40px;
}

.video-box button svg path {
  color: white;
}

.design-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(83, 56, 158, 1),
    /* solid at top */ rgba(83, 56, 158, 0) /* transparent at bottom */
  );
  border-top: 2px solid rgb(83, 56, 158);
  border-bottom: rgb(83, 56, 158, 0.1);
  flex-shrink: 0;
}
